*, ::after, ::before {
    box-sizing: border-box
}

a :hover {
    color: #fff
}

a {
    color: #fff
}

body, html {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #474747;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased
}

main {
    overflow: hidden;
    position: relative
}

.contain-chris-fixed {
    position: relative
}

.chris-link a {
    font-size: 20px;
    padding-bottom: 4px;
    position: relative;
    font-weight: 800;
    color: #0f141e;
    border: 0 none;
    line-height: 30px;
    overflow: hidden;
    display: inline-block;
    padding: 0 4px;
    height: 2em;
    padding-left: 0 !important;
    text-transform: uppercase;
    letter-spacing: 1px
}

.chris-link a span {
    position: relative;
    display: inline-block;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.chris-link a span::after {
    position: absolute;
    content: attr(data-hover);
    left: 0;
    color: #878a8f;
    width: 0;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s;
    -webkit-transition: all .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s
}

.chris-link a:focus span, .chris-link a:hover span::after {
    width: 100%
}

.fichead {
    background: rgba(255, 255, 255, 0.9);
}

.head-section {
    height: 70vh
}

.head-section {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center
}

@keyframes line {
    0% {
        left: -35%;
        right: 100%
    }

    60% {
        left: 100%;
        right: -90%
    }

    100% {
        left: 100%;
        right: -90%
    }
}

@keyframes lines {
    0% {
        left: -200%;
        right: 100%
    }

    60% {
        left: 107%;
        right: -8%
    }

    100% {
        left: 107%;
        right: -8%
    }
}

@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes scroll {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0;
        transform: translateY(26px)
    }
}

.wrap-load {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    background: #fff;
    display: block
}

.progress {
    height: 3px;
    display: block;
    width: 100%;
    background-color: transparent;
    border-radius: 2px;
    position: fixed;
    top: 150%;
    z-index: 65
}

.progress .line {
    background-color: #0f141e
}

.progress .line:before {
    content: '';
    position: absolute;
    background-color: #0f141e;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    animation: line 2.1s cubic-bezier(.65, .815, .735, .395) infinite
}

.progress .line:after {
    content: '';
    position: absolute;
    background-color: #0f141e;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    animation: lines 2.1s cubic-bezier(.165, .84, .44, 1) infinite;
    animation-delay: 1.15s
}

.img-logo-load {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1
}

.img-logo-load img {
    filter: invert(1);
    width: 50%
}

#header {
    padding-left: 0;
    padding-right: 0
}

.main-chrisheader {
    height: 90px;
    text-align: center;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 59
}

.detail-hero h1 {
    font-weight: 800
}

.logo-chris {
    display: block;
    margin-top: 10px;
    text-align: left;
    margin-left: 20px;
    width: 150px;
    position: relative;
    z-index: 1
}

.logo-chris img {
    width: 70%;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 0
}

.chris-main {
    padding-left: 0
}

.chris-main img {
    width: 50%;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0
}

.chris-detail-wrapper {
    padding-top: 200px;
    width: 60%;
    position: relative;
    z-index: 5;
    padding-left: 0;
    padding-right: 5%
}

#hero-block.chris-detail-wrapper>h5 {
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
    -webkit-animation: fade-in-bottom .6s cubic-bezier(.39, .575, .565, 1) .2s both;
    animation: fade-in-bottom .6s cubic-bezier(.39, .575, .565, 1) .2s both
}

#hero-block.chris-detail-wrapper>h1 {
    font-weight: 900;
    font-size: 7rem;
    color: #0f141e;
    line-height: 7rem;
    padding-top: 1px;
    padding-bottom: 4px;
    -webkit-animation: fade-in-bottom .6s cubic-bezier(.39, .575, .565, 1) .5s both;
    animation: fade-in-bottom .6s cubic-bezier(.39, .575, .565, 1) .5s both
}

#hero-block.chris-detail-wrapper>p {
    font-size: 20px;
    color: #878a8f;
    padding-top: 2px;
    padding-bottom: 3px;
    -webkit-animation: fade-in-bottom .6s cubic-bezier(.39, .575, .565, 1) .7s both;
    animation: fade-in-bottom .6s cubic-bezier(.39, .575, .565, 1) .7s both
}

.chris-link {
    margin-top: 30px;
    -webkit-animation: fade-in-bottom .6s cubic-bezier(.39, .575, .565, 1) .1s both;
    animation: fade-in-bottom .6s cubic-bezier(.39, .575, .565, 1) .1s both
}

.link-km::after {
    content: '';
    display: block;
    width: 0;
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    background: #484a4d;
    transition: width .3s
}

.link-km:hover::after {
    width: 2rem;
    margin-left: auto;
    margin-right: auto
}

.hero-img {
    width: 20%;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0
}

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: 17.2vw;
    bottom: 20px
}

.arrows path {
    stroke: #000;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite
}

@keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s
}

.arrows path.a2 {
    animation-delay: -.5s;
    -webkit-animation-delay: -.5s
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s
}

.chris-project-wrapper {
    padding-top: 100px;
    width: 58.333333333%;
    position: relative;
    z-index: 5
}

.chris-project-wrapper>h5 {
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
    position: relative
}

.chris-project-wrapper>h1 {
    font-weight: 900;
    font-size: 7rem;
    color: #0f141e;
    line-height: 7rem;
    padding-top: 1px;
    padding-bottom: 0;
    position: relative;
    margin-bottom: 100px
}

.chris-project-wrapper>h3.title-h3 {
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
    color: #0f141e;
    padding-top: 2px;
    padding-bottom: 3px
}

.chris-project {
    padding-left: 0;
    padding-right: 0
}

.gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    column-gap: 40px
}

.cell {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-clip: border-box;
    margin-bottom: 40px;
    color: #fff;
    overflow: hidden;
    z-index: 1
}

.cell img {
    height: 100%;
    width: 100%;
    transition: .4s
}

.cell:hover .chris-info-porto {
    opacity: 1
}

.cell:hover img {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.chris-detailporto {
    position: absolute;
    z-index: 20;
    -webkit-transition: .4s all ease-out;
    transition: .4s all ease-out;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    padding: 40px
}

.chris-info-porto {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
    -moz-transition: ease all .55s;
    -o-transition: ease all .55s;
    -webkit-transition: ease all .55s;
    transition: ease all .55s;
    opacity: 0
}

.chris-detailporto>h3 {
    font-weight: 800;
    font-size: 30px;
    line-height: 35px
}

.chris-detailporto>span {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px
}

.chris-detailporto>p {
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 30px;
    opacity: .8
}

.chris-detailporto>a {
    font-weight: 400;
    font-size: 20px;
    display: inline-block;
    color: #fff;
    line-height: 2.3rem;
    text-decoration: none;
    overflow: hidden
}

.chris-detailporto>a i {
    padding-left: 10px;
    font-size: 15px;
    transition: all .2s
}

.chris-detailporto>a:hover i {
    padding-left: 20px
}

.cell:hover .chris-detailporto {
    visibility: visible;
    opacity: 1
}

.cell:hover .chris-detailporto>h3 {
    -webkit-animation: fade-in-bottom .3s cubic-bezier(.39, .575, .565, 1) .1s both;
    animation: fade-in-bottom .3s cubic-bezier(.39, .575, .565, 1) .1s both
}

.cell:hover .chris-detailporto>h2 {
    -webkit-animation: fade-in-bottom .3s cubic-bezier(.39, .575, .565, 1) .2s both;
    animation: fade-in-bottom .3s cubic-bezier(.39, .575, .565, 1) .2s both
}

.cell:hover .chris-detailporto>a {
    -webkit-animation: fade-in-bottom .3s cubic-bezier(.39, .575, .565, 1) .3s both;
    animation: fade-in-bottom .3s cubic-bezier(.39, .575, .565, 1) .3s both
}

.chris-service-wrapper {
    padding-top: 150px;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 5
}

.chris-service-wrapper>h5 {
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
    position: relative
}

.chris-service-wrapper>h1 {
    font-weight: 900;
    font-size: 7rem;
    color: #0f141e;
    line-height: 7rem;
    padding-top: 1px;
    padding-bottom: 4px;
    position: relative;
    margin-bottom: 130px
}

.chris-service-wrapper>h3.title-h3 {
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
    color: #0f141e;
    padding-top: 2px;
    padding-bottom: 3px
}

.block-6 {
    padding-top: 50px;
    padding-bottom: 50px
}

.align-items-center i {
    font-size: 50px;
    color: #0f141e;
    position: relative;
    z-index: 1
}

.media-body .chris-heading {
    font-weight: 800;
    color: #0f141e;
    font-size: 20px
}

.media-body p {
    color: #878a8f;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 15px
}

.img-wrap img {
    width: 60%
}

.img-wrap h3 {
    font-weight: 600;
    font-size: 30px
}

#chris-footer-wrap {
    margin-top: 100px;
    background: #f8f8f8
}
